.home {
  background-image: url("../Resource Assignment 03/banner1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 20%;
  margin: 0 auto;
  max-width: 1500px;
  /* height: 70vh; */
  position: relative;
}
.content {
  position: absolute;
  transform: translateY(50%);
  top: 0;
  left: 0;
  width: 60%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h2 {
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}

.content h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-size: 30px;
}

.content button {
  color: #fff;
  text-transform: uppercase;
  background-color: #333;
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-style: italic;
}
