.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  width: 1200px;
  height: fit-content;
  background-color: #fff;
  position: relative;
  padding: 50px;
}
.product span {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  padding: 10px;
  cursor: pointer;
}

.product span:hover {
  background-color: #999;
}

.product i {
  z-index: 1;
  font-size: 40px;
}

.product-details {
  display: flex;
  gap: 10px;
}

.product-img {
  width: 50%;
}
.product-img img {
  width: 100%;
  border-radius: 5px;
}

.product-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-detail {
  font-style: italic;
}

.product-detail h3 {
  color: #666;
}
.product-detail p {
  color: #666;
  text-align: justify;
  font-size: 16px;
}

.product-detail button {
  align-items: flex-end;
  width: 50%;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 10px;
}
